.vscode/
.vs/
bin/
*.obj
*\.obj
.obj/
/DOG.BANK/DOB.ApiDotNet6.Application/obj
/DOG.BANK/DOB.ApiDotNet6.Domain/obj
/DOG.BANK/DOB.ApiDotNet6.Ioc/obj
/DOG.BANK/DogeBank/obj
/DOG.BANK/DOB.ApiDotNet6.Infra.Data/obj
/DOG.BANK/DOB.ApiDotNet6.Application/obj
