.vscode/
.vs/
bin/
*.obj
*\.obj
.obj/
/DogeBank/DOB.ApiDotNet6.Application/obj
/DogeBank/DOB.ApiDotNet6.Domain/obj
/DogeBank/DOB.ApiDotNet6.Ioc/obj
/DogeBank/DogeBank/obj
/DogeBank/DOB.ApiDotNet6.Infra.Data/obj
/DogeBank/DOB.ApiDotNet6.Application/obj
